.navbar-inverse {
    background-color: #3F51B5;
    height: 12%;
}

.navbar-inverse .navbar-brand {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    margin-top:20%;
    
}

.nav .navbar-nav{
    background-color:white;
}

.navbar-inverse .navbar-nav > li > a{
    color:white;
    font-size:16px;
}
ul.nav.navbar-nav {
   
    margin-top: 1.75%;
    margin-left: 5%;
    padding-top: 12px;
    
   

}
.body-content {
    margin-top: 3%;
}
